body {
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.5px;
    height: 600px;
    margin: auto;
    background-image: url(../images/note-7-copy.jpg);
    background-size: cover;
}

/*----- Heading -----*/
.heading {
    margin-top: 20px;
    margin-bottom: 0;
    margin-block-start: 0px;
    font-size: 80px;
    text-shadow: 3px 3px 4px #444;
    letter-spacing: -2px;
    color: white;
    font-family: 'Unlock', cursive;
}

/*----- Sub-heading -----*/
.sub-heading {
    font-size: 14px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 0;
    text-transform: uppercase;
}

/*----- Text input box -----*/

input[type=text] {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 8px 15px 8px 15px;
	margin:0px;
    outline: none;	
    width: 400px;
}

/*----- "Add" button -----*/
input[type=submit] {
	background: #4B99AD;
	margin-top: 10px;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}

/*----- Background for list items -----*/
.displayItem {
	margin:10px auto;
	max-width: 400px;
	padding: 20px 0px 10px 20px;
	font-size: 13.5px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
	opacity: 0.7;
	text-align: left;
}




