body {
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.5px;
    height: 600px;
    margin: auto;
    background-image: url(https://c.pxhere.com/photos/38/a0/desk_neat_workplace_organized_office_table_work_clean-759747.jpg!d);
    background-size: cover;
}

h1 {
    margin-top: 50px;
    font-size: 80px;
    text-shadow: 3px 3px 4px #444;
    letter-spacing: -2px;
}

#tagline {
    font-size: 17px;
    font-style: italic;
}

ul {
    list-style: none;
    margin-right: 30px;
    margin-top: 2px;
}

li {
    padding-top: 0.5px;
    padding-bottom: 0.5px; 
}

#inputBox {
    width: 30%;
}
